<div class="toolbar">
  <mat-toolbar class="toolbar-items">
    <button mat-icon-button [matMenuTriggerFor]="dashboardMenu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu  #dashboardMenu="matMenu">
      <button mat-menu-item>Home</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span>Delivery Agent System</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</div> 